bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/src/UniAOP/Library
src/UniAOP/UserSettings/Layouts/default-6000.dwlt
/src/UniAOP/UserSettings
/src/UniAOP/Temp
/src/UniAOP/Logs
src/UniAOP/UniAOP.sln.DotSettings.user
/.idea
